<app-topbar></app-topbar>
<div class="body">
    <h1>TESTING</h1>
    <table>
        <thead> <!-- Add thead element for table header -->
            <tr>
                <th>Username</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody> <!-- Move ngFor loop to tbody element -->
            <tr *ngFor="let x of users">
                <td>{{x.username}}</td>
                <td>{{x.Role}}</td>
                <td *ngIf="isAdmin " >
                    <button  (click) ="deleteUser(x.userId)">Delete</button>
                </td>
                
            </tr>
        </tbody>
    </table>
</div>
